<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.myference.provider</string>
  <key>ProgramArguments</key><array>
    <string>MYFERENCE_EXECUTABLE</string><string>serve</string><string>--config</string><string>MYFERENCE_CONFIG</string>
  </array>
  <key>KeepAlive</key><true/>
  <key>RunAtLoad</key><true/>
  <key>ProcessType</key><string>Background</string>
  <key>StandardOutPath</key><string>MYFERENCE_LOG</string>
  <key>StandardErrorPath</key><string>MYFERENCE_LOG</string>
</dict></plist>
